.border{
	width: 40%;
		border: 1px solid; 
    	padding: 10px;
    	-webkit-border-radius: 0px 13px 0px 13px;
		-moz-border-radius: 0px 13px 0px 13px;
		border-radius: 0px 13px 0px 13px;
		margin-bottom: 5px;
		}